<!DOCTYPE html>
<html lang="zh-en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <link rel="hortcut icon" href="img/null.jpg" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>My Music Web</title>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/bodyer.css"/>
    <link rel="stylesheet" href="css/player.css">
    <link rel="stylesheet" href="css/searchBox.css">
    <style type="text/css">
    blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul{
        margin: 0px;
        padding: 0px;
    }
        html{
            height: 100%;
        }
        body{
            height: 100%;
        }
        .bg{
            width: 100%;
            height: 100%;
            /* background-color: aqua; */
            position: absolute;
            top: 0px;
            left: 0px;
            background-position: 0px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            filter: blur(50px);
            z-index: -999;
        }
        #app{
            width: 1366px;
            height: 768px;
            position: relative;
            margin: auto;
            top: 50%;
            margin-top: -350px;
            background-color: rgba(224,223,223,0.3);
            overflow: hidden;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="bg" id="bgimg" v-bind:style="bgimgUrl"></div>
    <div id="app">
        <!-- 头部logo和搜索界面 -->
        <div class="header">
            <div class="logo">  
                <h1>
                    <a href="javascript:()">
                        <img src="img/null.png" alt="My music Web">
                    </a>
                </h1>
            </div>
            <div class="searchInput">
                <div class="inputBox">
                    <div></div>
                    <input type="text" id="searchKey" v-on:input="input_keywords">
                    <div></div>
                </div>
                <div class="searchTxt" v-on:click="searchSong">
                    <span>搜索</span>
                </div>
            </div>
            <img src="img/tanchu.png" title="弹出搜索结果" class="pop" @click="popSearBox">
        </div>
        <!-- 中间部分为歌曲列表&专辑封面&歌词 -->
        <div class="bodyer">
            <!-- 歌曲列表 -->
            <div class="songsList">
                <div class="songsListHeader">
                    <div class="songNameTip">歌曲</div>
                    <div class="singerTip">歌手</div>
                    <div class="timeTip">时长</div>
                </div>
                <!-- 内容 -->
                <div class="songsListCont">
                    <li v-for="(item,index) in addedSongsList" :key="index" @click="playAddedSong(index,item)" :id="index">
                        <div>{{index+1}}</div>
                        <div :title="item.songName">{{item.songName}}</div>
                        <div :title="item.singer">{{item.singer}}</div>
                        <div :title="item.songTime">{{item.songTime}}</div>
                        <div @click.stop="delSong(event)" :id="item.index">
                            <img src="img/del.png" title="删除此歌曲">
                        </div>
                    </li>
                    
                </div>
            </div>
            <!-- 专辑封面&歌词 -->
            <div class="albumBox">
                <div class="album">
                    <div class="albumImg">
                        <div></div>
                        <div></div>
                        <img :src="nowSong.imgUrl">
                    </div>
                    <div class="albumInfo">
                        <p>歌曲：{{nowSong.songName}}</p>
                        <p>歌手：{{nowSong.singer}}</p>
                    </div>
                </div>
                <div class="lrcBox">
                    <div class="lrc">
                        <p>歌词部分</p>
                        <p>歌词部分</p>
                        <p>歌词部分</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- 底部为各个控制组件 -->
        <div class="player" id="player">
            <div class="ctrPlaySong">
                <div class="preSong" title="上一曲" @click="preSong"></div>
                <div v-if="playing" class="playSong" title="暂停" @click="play"></div>
                <div v-else class="pauseSong" title="播放" @click="play"></div>
                <div class="nextSong" title="下一曲" @click="nextSong"></div>
            </div>
            <div class="progressBox">
                <div class="nowTime">{{nowTime}}</div>
                <div class="proBar">
                    <div class="allTimeBar"></div>
                    <div class="nowTimeBar" :style="{width: proBar}"></div>
                </div>
                <div class="allTime">{{nowSong.songTime}}</div>
            </div>
            <div class="playModeBox">
                <div class="playMode liebiao" v-if="playMode == 1" title="列表循环" @click="changePlayMode"></div>
                <div class="playMode suiji" v-else-if="playMode == 2" title="随机播放" @click="changePlayMode"></div>
                <div class="playMode danqu" v-else-if="playMode == 3" title="单曲循环"@click="changePlayMode"></div>
                <!-- 控制音量 -->
                <!-- <div class="volIcon"></div>
                <div class="volBarBox">
                    <div class="volBar"></div>
                    <div class="nowVol"></div>
                </div> -->
            </div>
        </div>
        <!-- 搜索结果弹窗 -->
        <div class="searchBox" v-if="displaySearch">
            <div class="closeBtn" v-on:click = "closeSearch">
                <img src="img/closeBtn.png" title="关闭搜索弹窗">
            </div>
            <div class="searchHeader">
                <div>歌曲</div>
                <div>歌手</div>
                <div>时长</div>
            </div>
            <div class="searchResList" id="searchList">
                <li v-for = "(item,index) in searchRes" :key="index" :id="item.id" @click="playNow(index,item)">
                    <span v-bind:title="item.songName">{{item.songName}}</span>
                    <span v-bind:title="item.singer">{{item.singer}}</span>
                    <span>{{item.songTime}}</span>
                    <div @click.stop="addToList(event)">
                        <img src="img/add.png" title="添加至播放列表" id="addBtn">
                    </div>
                </li>
            </div>
            <div class="searchBtnBox">
                <img src="img/prePage.png" title="上一页" v-on:click="prePage">
                <div class="nowPageIcon">{{nowSearchPage}}</div>
                <img src="img/nextPage.png" title="下一页" v-on:click="nextPage">
            </div>
        </div>
    </div>
<script>
    //获取当前显示器的
    //getViewHeight()
    // function getViewHeight() {
    //     document.getElementsByClassName("bg")[0].style.height = window.innerHeight + "px"
    // }

</script>
<script src="js/requestData.js"></script>
<script src="js/index.js"></script>

</body>
</html>
